body{
    background: rgb(114,113,129);
    display: flex;
    overflow-x: hidden;
}   
input{
    margin-top: 15px;   
}

#main_block{
    width: 90vw;
    height: 136vh;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

#main-info{
    display: flex;
    flex-direction: row;
}

#left_info{
    width: 60vw;
    height: 85vh;;
    display: flex;
    flex-direction: column;
}

#right_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 85vh;
    text-align: center;
    background-color: rgba(54, 44, 44, 0.308);
    border-top-right-radius: 10px
}

#bottom_info{
    width: 90vw;
    height: 51vh;
    display: flex;
    align-self: flex-end;
}

#img_info{
    width: 60vw;
    height: 63vh;
    padding-left: 25px;
}

#temp_info{
    width: 60vw;
    height: 22vh;
    text-align: center;
    position: absolute;
}

#forecast{
    display: flex;
    width: 59.4vw;
    height: 21vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(151, 155, 165);
    margin: auto;
}

#div-map{
    width: 90vw;
    height: 51vh;
}

#search{
    position: sticky;
    top: 0;
    padding: 6px;
    border-radius: 7px;
    width: 11.3vw;
    height: 2vh;
    background-color: rgba(54, 42, 42, 0.675);
    border: 1px solid black;
    transition: 0.3s;   
}

#submit{
    position: sticky;
    top: 0;
    padding: 5px;
    border-radius: 7px;
    width: 2vw;
    height: 3.5vh;
    background-color: rgba(54, 42, 42, 0.675);
    border: 1px solid black;
    transition: 0.3s;
    margin-top: 19px;
}

#sub_loc{
    padding: 0.5vh;
    border-radius: 7px;
    width: fit-content;
    height: 3.2vh;
    background-color: rgba(54, 42, 42, 0.675);
    border: 1px solid black;
    transition: 0.3s;
    margin-top: 19px;
    color: rgb(165, 156, 141);
    font-size: 1.5vh;
    letter-spacing: 1px;
}

#map {
    width: 90vw;
    height: 51vh;
    position: absolute;
    right: 0px;
    border-top: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search:hover{
    background-color: rgba(88, 70, 70, 0.675);
}

#submit:hover{
    background-color: rgba(88, 70, 70, 0.675);
}

#sub_loc:hover{
    background-color: rgba(88, 70, 70, 0.675);
}

#weather-icon{
    width: 9.4vw;
}

#city_name{
    font-size: 4vh;
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 1vw;
}

#city_name_text{
    position: fixed;
}

#temp {
    display: flex;
    justify-self: flex-start;
    font-size: 6vh;
    margin-left: 1vw;
}

#part1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: inherit;
}

#loc_time{
    position: relative;
    margin-left: 1vw;
}

#cloud-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#space{
    width: 90vw;
    height: 73vh;
    position: absolute;
    top: 71%;
    left: 50%;
    bottom: 20%;
}

.info {
    font-size: 2.3vh;
}

.box {
    display: flex;
    width: 11.9vw;
    height: 20.7000000000000000000000000000000000690000000000000000000000000000004200000000000000000000000000000000002137vh;
    padding: 2px;
    border-right: 1px solid black;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    transition: 0.4s;
}

.box:hover{
    background-color: rgb(120, 124, 128, 0.6);
}

#start-box {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#end-box {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: none;
}

#history{
    display: flex;
    width: 18vw;
    height: 67vh;
    flex-direction: column-reverse;
    margin-top: -3vh;
}

.history-window{
    width: 18vw;
    height: 8vh;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 3vh;
    background-color: rgba(196, 163, 163, 0.415);
    padding: 5px;
    font-weight: bold;
    white-space: pre-line;
    line-height: 3vh;
    transition: 0.4s;
}

.history-window:hover{
    background-color: teal;
    border: 1px solid whitesmoke
}

.cloud {
    position: fixed;
    height:100vh;
    z-index: 999;
}

.cloud-left {
    right: 40%;
    animation: moveLeft 2.7s ease-in forwards ;
}
  
.cloud-right {
    left: 40%;
    animation: moveRight 2.7s ease-in forwards;
}

.box > h3{
    margin-bottom: 0.2vh;
}

.box > h2{
    margin-bottom: 0.4vh;
    font-size: 3vh;
}

#img_info > h1{
    margin-top: 25vh;
    margin-bottom: 0.1vh;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}